<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bangun Datar</ion-title>
    <ion-buttons slot="end" (click)="logout()"> <ion-icon name="exit" style="zoom:2.0;"></ion-icon> </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p class="ion-text-center">Ketuk pada gambar untuk menghitung rumus!</p>
  </ion-text>
  <ion-item (click)="persegi()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/persegi.png" />
              <br>
              Persegi
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="persegipanjang()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/persegipanjang.png" />
              <br>
              Persegi Panjang
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="segitiga()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/segitiga.png" />
              <br>
              Segitiga
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="lingkaran()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/lingkaran.png" />
              <br>
              Lingkaran
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="jajargenjang()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/jajargenjang.png" />
              <br>
              Jajar Genjang
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="belahketupat()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/belahketupat.png" />
              <br>
              Belah Ketupat
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="layanglayang()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/layanglayang.png" />
              <br>
              Layang-layang
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item (click)="trapesium()">
    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-center">
              <img src="../../assets/trapesium.png" />
              <br>
              Trapesium
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
