<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bangun Datar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <p class="ion-text-center">Ketuk pada gambar untuk menghitung rumus!</p>
  </ion-text>
  <ion-item (click)="persegi()">
    <div class="ion-text-center">
      <img src="../../assets/persegi.png" />
      <br>
      Persegi
    </div>
  </ion-item>
  <ion-item (click)="persegipanjang()">
    <div class="ion-text-center">
      <img src="../../assets/persegipanjang.png" />
      <br>
      Persegi Panjang
    </div>
  </ion-item>
  <ion-item (click)="segitiga()">
    <div class="ion-text-center">
      <img src="../../assets/segitiga.png" />
      <br>
      Segitiga
    </div>
  </ion-item>
  <ion-item (click)="lingkaran()">
    <div class="ion-text-center">
      <img src="../../assets/lingkaran.png" />
      <br>
      Lingkaran
    </div>
  </ion-item>
  <ion-item (click)="jajargenjang()">
    <div class="ion-text-center">
      <img src="../../assets/jajargenjang.png" />
      <br>
      Jajar Genjang
    </div>
  </ion-item>
  <ion-item (click)="belahketupat()">
    <div class="ion-text-center">
      <img src="../../assets/belahketupat.png" />
      <br>
      Belah Ketupat
    </div>
  </ion-item>
  <ion-item (click)="layanglayang()">
    <div class="ion-text-center">
      <img src="../../assets/layanglayang.png" />
      <br>
      Layang-layang
    </div>
  </ion-item>
  <ion-item (click)="trapesium()">
    <div class="ion-text-center">
      <img src="../../assets/trapesium.png" />
      <br>
      Trapesium
    </div>
  </ion-item>
</ion-content>
